echo "Configurando variáveis de ambiente para HOTELA_BACK..."
export DB_USER="hotela_admin"
export DB_PASSWORD=""  # Coloque a senha aqui
export DB_NAME="hotela_bd"
export DB_HOST_PORT="5433"


echo "DB_USER=${DB_USER}"
echo "DB_PASSWORD=${DB_PASSWORD}"
echo "DB_NAME=${DB_NAME}"
echo "DB_HOST_PORT=${DB_HOST_PORT}"
